<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download File</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <!--icon library-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--Google Font API-->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--Bootstrap CSS-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <meta http-equiv="refresh" content="0; url=/return-files/{{value}}">
  </head>
  <body>
    <h1>Data Preview</h1>
    <br />
    <div>{{result | safe}}</div>
    <br />
  </body>
  <footer>
    <p class="copyright">
      Original code by <a href="https://github.com/zensajnani/teams_attendance_tracker" target="_blank">Zen Sajnani</a>, modified code by <a href="https://github.com/oscarsiles/teams_attendance_tracker" target="_blank">Oscar Siles Brügge</a>
    </p>
  </footer>
</html>
