<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download File</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-178108791-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-178108791-1");
    </script>
  </head>
  <body>
    <h1>Download File</h1>
    <div class="container" align="left">
      <a href="/return-files/{{value}}" target="blank"
        ><button class="btn btn-default">Download</button></a
      >
    </div>
    <br />
    <div>{{result | safe}}</div>
    <br />
    <a href="/return-files/[ATTENDANCE]{{value}}" target="blank"
      ><button class="btn btn-default">Download</button></a
    >
  </body>
</html>
