<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance Tracker</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="main">
      <h1 class="title">Attendance Tracker</h1>
      <h4><a href="/demo.csv">Download Demo File</a></h4>
      <form
        action="{{ url_for('data') }}"
        method="POST"
        enctype="multipart/form-data"
      >
        <h3>Upload Attendance downloaded from Microsoft Teams</h3>
        <input
          type="file"
          name="attendance-file"
          accept=".csv, .xlsx"
          required
        />
        <br /><br />
        <label for="start_time">Meeting Start Time</label>
        <input type="datetime-local" name="start_time" required />
        <br /><br />
        <label for="end_time">Meeting End Time</label>
        <input type="datetime-local" name="end_time" required />
        <br /><br />
        <input type="submit" value="Upload" />
      </form>
    </div>
    <footer>
      <p class="copyright">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        <a href="https://www.linkedin.com/in/zensajnani/" target="_blank"
          >Zen Sajnani</a
        >
      </p>
    </footer>
  </body>
</html>
